div.border {
  border: 2px solid black;
}

.nav {
  background-color: #FFB4B0;
  height: 60px;
  margin: 5px 85px 0 85px;
}

.nav li {
  display: inline;
  float: left;
  list-style-type: none;
  margin: 5px 0 2px 5px;
  cursor: pointer;
}

.nav a:hover {
  color: white;
}

.side {
  background-color: #4DD7FA;
  float: left;
}

.sidebox {
  width: 200px;
  height: 345px;
  padding: 15px;
  margin: 5px 0 0 85px;
}

.side form {
  margin: 5px;
  padding: 5px;
}

.rock {
  width: 100px;
  height: 100px;
  display: inline;
}

.main {
  background-color: #FEFAC0;
  float: right;
  width: 890px;
  height: auto;
  padding: 15px;
  margin: 5px 85px 0 0;
}

.main p {
  margin: 5px;
  padding: 5px;
}

p.large {
  font-size: 2em;
  color: #785616;
}

.middle {
  text-align: center;
}