body {
  background-color: #FEFAC0;
}

div {
  border: 2px solid black;
}

.nav {
  background-color: #FFB4B0;
  height: 60px;
  margin: 5px 20px 0 20px;
}

.nav li {
  display: inline;
  float: left;
  list-style-type: none;
  margin: 5px 0 2px 5px;
  cursor: pointer;
}

.nav li:hover {
  color: white;
}

.side {
  background-color: #4DD7FA;
  float: left;
  width: 300px;
  height: auto;
  padding: 15px;
  display: inline;
  margin: 5px 0 0 20px;
}

.side form {
  margin: 5px;
}

.main {
  background-color: #785616;
  float: right;
  width: 850px;
  height: 600px;
  padding: 15px;
  display: inline;
  margin: 5px 20px 0 0;
}

.main p {
  margin: 5px;
}